@import url('https://fonts.googleapis.com/css2?family=Popoins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Popins', sans-serif;

}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #46225d;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: black;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.logo-color {
    color: white;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;

}

.header.sticky .navbar a {
    color: var(--text-color)
}

.header.sticky .navbar a.active {
    color: var(--text-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--text-color);
    margin: 0;
    margin-right: 0;
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
    margin-bottom: 1rem;
}

.home-content h1 {

    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.home-content .social-media img {
    width: 50px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    transition: .5s ease;
}

.home-content .social-media img:nth-child(1) {
    margin-left: 0;
}

.home-content .social-media img:hover {
    transform: scale(1.2);
}


.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home-image {
    width: 40%;


}

.home-image img {
    width: 120%;
    position: relative;
    right: 0;
    left: 20rem;
    top: -10rem;
    bottom: 0;
    animation-name: moving-up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes moving-up-down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

span {
    color: var(--main-color);
}

.timeline {
    position: relative;
    color: var(--main-color);
    max-width: 1200px;
    margin: 100px auto;

}

.container {
    padding: 10px 50px;
    border-radius: 10px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 1;

}

.text-box:hover {
    transform: scale(1.03);
}

.text-box {
    padding: 20px 30px;
    background: var(--white-color);
    position: relative;
    border-radius: 15px;
    font-size: 15px;
    border: 3px solid var(--main-color);
    transition: 0.5s ease;

}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -30px;
    top: 24px;
    z-index: 10;
    transition: 0.5s ease;
}

.container img:hover {
    transform: scale(1.2);
}

.right-container img {
    left: -30px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--main-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--main-color);
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--main-color);
    left: -15px;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    overflow: hidden;
    margin: 0;
}

.skills h2 {
    margin-bottom: 5rem;
}

.skills .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 20rem;
    background: var(--bg-color);
    padding: 3rem 1rem 4rem;
    text-align: center;
    transition: .5s ease;
}

.skills-container .skills-box:hover {
    transform: scale(1.2);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.skills-box:hover h3 {
    color: var(--main-color);
}

.project {
    padding-bottom: 10rem;
    margin: 0;
    overflow: hidden;
}

.project h2 {
    margin-bottom: 4rem;
}

.project .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-box img {
    width: 100%;
    transition: .5s ease;

}

.project-box:hover img {

    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;

}

.project-box .project-layer:hover {
    opacity: 1;
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: #333;

}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);

}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.contact .loading,
.contact .success,
.contact .failed {
    font-size: xx-large;
    display: none;
    color: var(--main-color);
    margin-top: 10rem;
    text-align: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
    overflow: hidden;
    margin: 0;
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}

/* for RESPONSIVENESS */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home-image img {
        right: -20rem;
    }

}

@media (max-width:1024px) {

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

}

@media (max-width:991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .home {
        text-align: center;
        flex-direction: column;
        margin-top: 8rem;
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }


    .home-image img {
        top: 5rem;
        right: 0;
        left: -10rem;
        width: 150%;
    }

    .services,
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3;
    }

}

@media(max-width:768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: relative;
        right: 4rem;
        font-size: 2.6rem;
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color)
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:617px) {
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-image img {
        left: -5rem;

    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 4rem;
    }


    .contact form .input-box input {
        width: 100%;
    }

}

@media (max-width:335px) {
    html {
        font-size: 45%;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

    .home-image img {
        left: -4rem;

    }
}